EXPO_PUBLIC_ERP_API_BASE_URL=http://localhost:8000/api
EXPO_PUBLIC_ERP_EMAIL=
EXPO_PUBLIC_ERP_PASSWORD=
# Optional: if you want to skip login request and use fixed token
EXPO_PUBLIC_ERP_TOKEN=
EXPO_PUBLIC_APP_VERSION=1.0.0
EXPO_PUBLIC_BANK_ACCOUNT_CASH_ID=
EXPO_PUBLIC_BANK_ACCOUNT_TRANSFER_ID=
EXPO_PUBLIC_BANK_ACCOUNT_QRIS_ID=
EXPO_PUBLIC_BANK_ACCOUNT_CARD_ID=
EXPO_PUBLIC_BANK_ACCOUNT_DEFAULT_ID=
